<h1>Listando Artigos</h1>

<table>
  <tr>
    <th>Título</th>
    <th>Texto</th>
    <th>Ações</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Visualizar', article_path(article) %></td>
    </tr>
  <% end %>
</table>